Repository MaximMukhanov/daily-incomer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint "**/*.(scss|css)$"

.lintstagedrc:

{
  "packages/**/*.{ts,tsx,js}": ["eslint --fix", "prettier --write"],
  "apps/**/*.{ts,tsx,js}": ["eslint --fix", "prettier --write"],
  "apps/**/*.{css,scss}": ["stylelint \"**/*.(scss|css)$\""],
  "*.{json,md}": ["prettier --write"]
}

initial commit
  apps/api/package.json
  packages/database/package.json
  packages/eslint-config-incomer-api/package.json
  packages/eslint-config-incomer-web/package.json
  packages/jest-config/package.json
  packages/lint-staged-config/package.json
  packages/shared/package.json
  packages/stylelint-config/package.json
  packages/ui/package.json
Due: prettier --write

initial commit
  apps/api/package.json
  apps/web/package.json
  packages/shared/package.json
  packages/ui/package.json
Due: prettier --write

initial commit
  packages/tsconfig/react-library.json
Due: prettier --write

initial commit
  turbo.json
Due: prettier --write

initial commit
  apps/api/.gitignore
  packages/tsconfig/nextjs.json
Due: prettier --write

initial commit
  packages/tsconfig/nextjs.json
Due: prettier --write

initial commit
  apps/web/next.config.js
Due: eslint --fix, prettier --write

style: revamped project config
  .dockerignore
  .eslintrc.js
  .husky/pre-commit
  .vscode/extensions.json
  .vscode/settings.json
  apps/api/package.json
  apps/api/tsconfig.json
  apps/web/jest.config.ts
  apps/web/next.config.js
  apps/web/package.json
  package.json
  packages/config/.eslintrc.js
  packages/config/jest/__mocks__/fileMock.ts
  packages/config/jest/__mocks__/objectProxy.ts
  packages/config/jest/__mocks__/styleMock.ts
  packages/config/jest/__mocks__/svgMock.ts
  packages/config/jest/jest.common.ts
  packages/config/jest/setupMock.ts
  packages/config/lint-staged-config/index.js
  packages/config/nginx/nginx.conf
  packages/config/package.json
  packages/config/stylelint-config/index.js
  packages/config/tsconfig.json
  packages/database/package.json
  packages/eslint-config-incomer-api/index.js
  packages/eslint-config-incomer-api/package.json
  packages/eslint-config-incomer-web/index.js
  packages/eslint-config-incomer-web/package.json
  packages/jest-config/package.json
  packages/lint-staged-config/.eslintrc.js
  packages/lint-staged-config/package.json
  packages/shared/.eslintrc.js
  packages/shared/package.json
  packages/stylelint-config/.eslintrc.js
  packages/stylelint-config/package.json
  packages/tsconfig/package.json
  packages/ui/package.json
  yarn.lock
Due: eslint --fix, prettier --write

style: revamped project config
  packages/config/package.json
  turbo.json
Due: prettier --write

style: revamped project config
  apps/web/package.json
  yarn.lock
Due: prettier --write

style: revamped project config
  packages/config/jest/jest.common.ts
Due: eslint --fix, prettier --write

added default stuff
  .gitignore
  .vscode/launch.json
  .yarn/releases/yarn-3.5.1.cjs
  .yarnrc.yml
  apps/api/.gitignore
  apps/api/Dockerfile
  apps/api/README.md
  apps/api/dist/main.js
  apps/api/nest-cli.json
  apps/api/package.json
  apps/api/src/app/app.controller.spec.ts
  apps/api/src/app/app.controller.ts
  apps/api/src/app/app.module.ts
  apps/api/src/app/app.service.ts
  apps/api/src/index.ts
  apps/api/src/main.ts
  apps/api/src/services/server.ts
  apps/api/test/app.e2e-spec.ts
  apps/api/test/jest-e2e.json
  apps/api/tsconfig.build.json
  apps/api/tsconfig.json
  apps/api/webpack-hmr.config.cjs
  apps/web/jest.config.ts
  package.json
  packages/config/jest/__mocks__/fileMock.ts
  packages/config/jest/__mocks__/objectProxy.ts
  packages/config/jest/__mocks__/styleMock.ts
  packages/config/jest/__mocks__/svgMock.ts
  packages/config/jest/jest.common.ts
  packages/config/jest/jest.ts
  packages/config/jest/setupMock.ts
  packages/config/lint-staged-config/index.js
  packages/config/nginx/nginx.conf
  packages/config/package.json
  packages/eslint-config-incomer-web/package.json
  packages/tsconfig/nestjs.json
  yarn.lock
Due: eslint --fix, prettier --write

done
  apps/api/.gitignore
  apps/api/dist/main.js
Due: eslint --fix, prettier --write

done
  apps/api/.gitignore
Due: none

a
  .gitignore
  apps/api/package.json
Due: prettier --write

added stuff
  .husky/pre-commit
Due: none

added jest to shared
  apps/api/package.json
  packages/shared/.eslintrc.js
  packages/shared/jest.config.js
  packages/shared/package.json
  packages/shared/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

added jest to shared
  apps/web/package.json
Due: prettier --write

added jest to shared
  packages/shared/package.json
  packages/ui/package.json
  yarn.lock
Due: prettier --write

added jest to shared
  packages/config/jest/index.ts
  packages/shared/jest.config.js
Due: eslint --fix, prettier --write

added jest to shared
  packages/shared/jest.config.js
Due: eslint --fix, prettier --write

added stuff
  packages/shared/jest.config.js
  packages/shared/jest.config.ts
Due: eslint --fix, prettier --write

added jest config
  packages/shared/jest.config.ts
Due: eslint --fix, prettier --write

ci: added commitlint to hooks
  .husky/commit-msg
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/config/package.json
  packages/eslint-config-incomer-api/package.json
  packages/eslint-config-incomer-web/package.json
  packages/shared/package.json
  packages/ui/package.json
  yarn.lock
Due: prettier --write

build: added webpack hot reload to nest
  apps/api/package.json
  apps/api/src/app/app.module.ts
  apps/api/webpack-hmr.config.cjs
  yarn.lock
Due: eslint --fix, prettier --write

build: added .env and .env.example to nest
  apps/api/.env.example
  apps/api/src/main.ts
Due: eslint --fix, prettier --write

feat: done
  packages/database/prisma/schema.prisma
Due: none

build: added antd
  .yarn/releases/yarn-3.5.1.cjs
  .yarnrc.yml
  apps/api/Dockerfile
  apps/api/jest.config.ts
  apps/api/package.json
  apps/api/tsconfig.json
  apps/api/webpack-hmr.config.cjs
  apps/web/Dockerfile
  apps/web/package.json
  package.json
  packages/database/.eslintrc.cjs
  packages/database/package.json
  packages/database/tsup.config.ts
  packages/eslint-config-incomer-api/package.json
  packages/eslint-config-incomer-web/package.json
  packages/jest-preset/package.json
  packages/shared/package.json
  packages/stylelint-config-incomer-web/package.json
  packages/ui/jest.config.ts
  packages/ui/package.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: fixed vercel.json
  apps/api/vercel.json
Due: prettier --write

build: bump next deps
  yarn.lock
Due: none
